body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.calculator {
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #fff;
    max-width: 400px;
    width: 100%;
}

.display {
    margin-bottom: 20px;
    text-align: right; /* Assure l'alignement à droite */
    padding-right: 10px; /* Ajoute un espacement à droite */
}

.operation-display {
    text-align: right;
    font-size: 18px;
    color: #888;
    height: 20px;
}

input {
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    padding: 20px;
    font-size: 20px;
    background-color: #006400;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.card:hover {
    background-color: #004d00;
    transform: translateY(-3px);
}
